body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
}
.header-text {
    flex: 1;
}
.header-text p {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 10;
    margin-left: 50px;
}
button.logout-btn {
    border: none;
    background-color: transparent;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 20px;
}
button.logout-btn:hover {
    color: #ff0000;
}

nav {
    background-color: #e6e6e6;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    color: #000000;
    margin-left: 25px;
    margin-right: 22px;
    text-decoration: none;
    padding: 10px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px; 
    z-index: 999; 
}
.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}
nav {
    display: block;
}
nav.open {
    display: block;
}
@media screen and (min-width: 1000px) {
    .menu-toggle {
        display: none;
    }
    nav {
        display: flex;
    }
}
@media screen and (max-width: 1000px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 2px; 
        left: 10px; 
        z-index: 999; 
    }
    nav {
        display: none;
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #e6e6e6;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        z-index: 998; 
    }
    nav a {
        color: #000000; 
        text-decoration: none;
        padding: 10px;
        display: block; 
    }
    nav.open {
        display: block; 
    }
}

h1, h2, h3 {
    color: #000000;
}

.container0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding: 10px;
    margin: 0 auto;
}

.search-container {
    text-align: right;
    width: 90%;
}

.search-container form {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
    width: 600px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

#status-filter {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    position: relative;
}

#status-filter:hover,
#status-filter:focus {
    border-color: #666;
}

#status-filter::after {
    content: '\25BC';
    position: absolute;
    top: calc(50% - 4px);
    right: 10px;
    font-size: 14px;
}

#status-filter option:checked {
    background-color: #ddd;
}

#payment-method-filter {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    position: relative;
}

#payment-method-filter::after {
    content: '\25BC';
    position: absolute;
    top: calc(50% - 4px);
    right: 10px;
    font-size: 14px;
}

#payment-method-filter option:checked {
    background-color: #ddd;
}

@media screen and (max-width: 1100px) {
    .container0 {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .search-container,
    #status-filter,
    #payment-method-filter {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .search-container input[type="text"] {
        width: 100%;
        margin: 0px 5px 0px 0px;
    }
}

.table {
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cell {
    flex: 1;
    padding: 0px 10px 10px 10px;
}

.orders {
    width: 100%;
}

.orders h2 {
    margin-top: 0;
}

.logout {
    text-align: center;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .cell {
        border-bottom: none;
    }
}

@media (max-width: 480px) {
    .logout-label {
        font-size: 12px;
    }

    .logout-button {
        padding: 8px 16px;
    }
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.responsive-table th,
.responsive-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.responsive-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

@media (max-width: 480px) {
    .responsive-table td:first-child {
        display:none;
    }
}

.order-details-container {
    border-radius: 5px;
}

.order-details-container p {
    margin: 5px 0;
}

.toggle-details {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.toggle-details:hover {
    color: #0056b3;
}

.details-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.details-expanded {
    transform: rotate(0deg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content select {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
}

.dropdown-content button {
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #727272;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}
